body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(21, 52, 72);
}

h1 {
    font-size: 5rem;
    color: rgb(223, 208, 184);
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(223, 208, 184);
}

.choices {
    margin-bottom: 25px;
}

.choices button {
    font-size: 7rem;
    min-width: 160px;
    margin: 0 15px;
    border-radius: 25%;
    background-color: rgb(148, 137, 121);
    transition: background-colour 1s ease;
}

#fire:hover {
    background-color: rgb(169, 66, 63);
}

#air:hover {
    background-color: rgb(253, 253, 253);
}

#earth:hover {
    background-color: rgb(119, 78, 49);
}

#water:hover {
    background-color: rgb(167, 199, 231);
}

#playerChose, #computerChose {
    font-size: 3rem;
    margin: 10px 0px;
    color: rgb(223, 208, 184);
}

#resultDisplay {
    font-size: 5rem;
    margin: 40px 0px;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}