/* General styles for the webpage */
html {
    min-height: 100%;
    position: relative;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 52, 72);
    width: 100%;
    min-height: 100vh;
}

/* Header styling */
header {
    font-size: 2vw;
    color: rgb(223, 208, 184);
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(223, 208, 184);
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

header p {
    font-size: 1.2vw;
    margin-top: 5px;
    font-style: normal;
}

/* Styling for the game area */
.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    top: 80px;
    padding-bottom: 5px;
    background-color: rgb(30, 60, 90);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rules section */
#rules {
    font-style: italic;
    color: rgb(223, 208, 184);
    margin-bottom: 20px;
}

#rules h3 {
    border-bottom: 1px solid rgb(223, 208, 184);
    font-size: 1.5vw;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#rules p {
    margin: 5px 0;
}

/* Choice buttons */
.choices {
    margin-bottom: 25px;
    text-align: center;
}

.choices button {
    font-size: 7vw;
    min-width: 160px;
    margin: 15px;
    border-radius: 25%;
    background-color: rgb(148, 137, 121);
    transition: background-colour 1s ease;
    border: none;
    padding: 15px;
    cursor: pointer;
}

/* Hover effects for choice buttons */
#fire:hover {
    background-color: rgb(169, 66, 63);
    transform: scale(1.1);
}

#air:hover {
    background-color: rgb(253, 253, 253);
    transform: scale(1.1);
}

#earth:hover {
    background-color: rgb(119, 78, 49);
    transform: scale(1.1);
}

#water:hover {
    background-color: rgb(167, 199, 231);
    transform: scale(1.1);
}

/* Styling for choice and result displays */
#playerChose,
#computerChose {
    font-size: 3vw;
    margin: 10px 0px;
    color: rgb(223, 208, 184);
}

.lightbrowntext {
    color: rgb(223, 208, 184);
}

#resultDisplay {
    font-size: 5vw;
    margin: 40px 0px;
}

/* Scoreboard styling */
.scores {
    font-size: 3vw;
}

.greenText,
#playerScore {
    color: green;
}

.redText,
#computerScore {
    color: red;
}

.brownText,
#drawScore {
    color: rgb(119, 78, 49);
}